.slider {
  padding: 6.5rem 0;

  &__slide {
    position: relative;
    height: 73px;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 1;

      & ~ * {
        opacity: 0.3;
      }
    }

    &:has(~ *:hover) {
      opacity: 0.3;
    }
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    padding: 5rem 0;

    &__slide {
      height: 60px;
    }
  }
}

@media screen and (max-width: 480px) {
  .slider {
    padding: 3rem 0;

    &__slide {
      height: 43px;
    }
  }
}
