.slider {
  padding: 6.5rem 0;

  &__slide {
    position: relative;
    height: 73px;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 1;

      & ~ * {
        opacity: 0.3;
      }
    }

    &:has(~ *:hover) {
      opacity: 0.3;
    }
  }
}
