.header {
  position: fixed;
  top: 36px;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 var(--padding-side);
  display: flex;

  &__desktopMenuWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-inline-start: 4rem;
    color: #fff;

    ul {
      display: flex;
      gap: 1.5rem;

      li {
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;

    &__desktopMenuWrapper {
      display: none;
    }
  }
}
