.benefits {
  &__card {
    width: 46.25rem;
    background-color: #fff;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 4.5rem 2.5rem 8rem 5.75rem;
    color: #000;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: -10rem;
    overflow: hidden;

    svg {
      position: absolute;
      top: -5rem;
      right: -5rem;
      width: 370px;
      height: 370px;
      z-index: -1;
    }

    &__subtitle {
      font-size: 1rem;
      font-family: var(--font-josefin);
      text-transform: uppercase;
      padding: 12px 1.5rem;
      border: 1px solid #000;
      border-radius: 1.5rem;
      display: inline-block;
    }

    &__title {
      font-size: 2rem;
      line-height: 36px;
      margin-block-start: 3.5rem;
    }

    &__text {
      color: #3b3b3b;
      font-size: 1.125rem;
      font-weight: 300;
      margin-block-start: 1.5rem;

      &.long {
        height: auto;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 1s ease,
          max-height 0.75s ease 0.1s;

        &.visible {
          opacity: 1;
          visibility: visible;
          max-height: 30rem;
          transition: opacity 1s ease 0.5s, visibility 1s ease,
            max-height 1s ease;
        }
      }
    }

    &__expandButton {
      background-color: #fff;
      padding: 0.5rem 1.5rem;
      font-size: 1rem;
      color: #000;
      border-radius: 3rem;
      border: 1px solid #000;
      margin-block-start: 3rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .benefits {
    height: 40vh;

    &__card {
      padding: 2rem 2.5rem 2.5rem 7rem;
      width: 85vw;
      bottom: -13rem;

      svg {
        width: 300px;
        height: 300px;
        top: -2.5rem;
        right: -3rem;
      }

      &__subtitle {
        font-size: 13px;
        padding: 0.5rem 1rem;
      }

      &__title {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-block-start: 4.5rem;
      }

      &__text {
        font-size: 1rem;
        margin-block-start: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .benefits {
    &__card {
    }
  }
}

@media (max-width: 480px) {
  .benefits {
    height: 50vh;

    &__card {
      padding: 1.5rem 1rem 2.5rem;
      width: calc(100vw - 1.5rem);
      bottom: -16rem;
      right: unset;
      left: 0;
      border-radius: 0 1rem 1rem 0;

      svg {
        width: 210px;
        height: 210px;
        top: -2.5rem;
        right: -3rem;
      }

      &__subtitle {
        font-size: 10px;
        padding: 0.5rem 1rem;
      }

      &__title {
        font-size: 1.375rem;
        line-height: 1.75rem;
        margin-block-start: 5.5rem;
      }

      &__text {
        font-size: 0.875rem;
        margin-block-start: 1rem;
      }

      &__expandButton {
        padding: 0.5rem 1rem;
        font-size: 14px;
        margin-block-start: 2rem;
      }
    }
  }
}
