.ctaSection {
  display: grid;
  grid-template-columns: repeat(2, minMax(0, 1fr));
  grid-template-rows: 40vw;
  gap: 2rem;
  padding: 13rem var(--padding-side) 7rem;
  border-bottom: 1px solid #cccccc;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    padding: 2.5rem;

    &__bg {
      z-index: -1;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1024px) {
  .ctaSection {
    padding: 20rem var(--padding-side) 7rem;
    gap: 1.5rem;

    &__item {
      padding: 1.5rem;
      &__title {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .ctaSection {
    padding: 20rem var(--padding-side) 6.625rem;
    gap: 1rem;

    &__item {
      padding: 0.5rem;
      &__title {
        font-size: 1rem;
      }

      a {
        position: absolute;
        transform: translateY(100%);
        bottom: -0.5rem;
        width: 100%;
        left: 0;
        padding: 11px 1rem;
      }
    }
  }
}
