.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3.5rem;
  color: #fff;

  &__bg {
    z-index: -1;
    object-fit: cover;
  }

  // &__newsletterButton {
  //   position: absolute;
  //   top: 6.25rem;
  //   right: 3rem;
  //   z-index: 1;
  //   background-color: #ff385c;
  //   color: #fff;
  //   padding: 0.5rem 1rem;
  //   border-radius: 3rem;
  //   font-size: 14px;
  // }

  > p {
    font-size: 1.125rem;
    margin-block-start: 1.5rem;
    max-inline-size: 50ch;
    text-wrap: balance;
  }

  &__buttonsWrapper {
    display: flex;
    margin-block-start: 2.5rem;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding-bottom: 1.5rem;

    // &__newsletterButton {
    //   top: 5.875rem;
    //   left: 1rem;
    //   right: unset;
    // }

    > p {
      font-size: 1rem;
      text-wrap: inherit;
    }
  }
}
