.sectionTitle {
  font-size: 17vw;
  line-height: 1;
  color: #dcdcdc;
  position: absolute;
  z-index: -1;
  top: -6.5vw;
  right: -6rem;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .sectionTitle {
    font-size: 29vw;
    top: -8vw;
    right: -6rem;
  }
}
