.button {
  background-color: #fff;
  padding: 1rem 2rem;
  color: #000;
  font-size: 1rem;
  border-radius: 3rem;
  align-self: flex-start;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: box-shadow 0.5s ease;
  cursor: pointer;

  i {
    display: flex;
    position: relative;
    z-index: 1;

    svg {
      transition: transform 0.5s ease;
    }
  }

  p {
    position: relative;
    z-index: 2;
    white-space: nowrap;
  }

  .overlay {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    background-color: red;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    transition: width 0.5s, height 0.5s;
  }

  &:hover {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);

    .overlay {
      width: 500px;
      height: 500px;
    }

    i {
      svg {
        transform: translateX(10px);
      }
    }
  }

  &.transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 480px) {
  .button {
    padding: 0.5rem 1rem;
    font-size: 14px;

    i {
      svg {
        width: 17px;
        height: 10px;
      }
    }
  }
}
