.button {
  background-color: #fff;
  padding: 1rem 2rem;
  color: #000;
  border-radius: 3rem;

  &.transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
}
